In [90]:
#example : 1.1

def myreduce(anyfunc, sequence):
    result = sequence[0] 
    for item in sequence[6:]:
        result = anyfunc(result, item)

    return result

In [91]:
myreduce(55,'hardik')

'h'

In [ ]:
#example 1.2

In [100]:
l = [1,2,3,4,5,6,7,8,9]
def even(a):
    if a%2 == 0:
        return True

In [106]:
list(filter(even,l))

[2, 4, 6, 8]

In [107]:
# example 2

In [79]:
# ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

l = ['x','y','z']
result = [ x*y for x in l for y in range(1,5)]
print(result)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [7]:
#['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

l = list('xyz')
[l*i for i in range(1,5) for l in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [78]:
#[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

l = [2,3,4,5]
result = [ [x+y for x in l] for y in range(0,4)]
print(result)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [86]:
#[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)] 

l = [1,2,3]
[(b,a) for a in l for b in l]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]